.carousel-control-next-icon , .carousel-control-prev-icon{
    background-color: black;
    border-radius: 50%;
    opacity: 0.9;
    width: 20px;
    height: 20px;
}
.carousel-indicators [data-bs-target]{
    background-color: var(--dark-orange);

}
.certification-container {
    width: 95%;
    margin: auto;
    margin-top: 30px;
    
}
.carousel-caption{
    background-color: black;
   opacity: 0.9;
   border-radius: 5px;
   margin-bottom: 20px;
}
.carousel-caption h3{
    color:white;
    font-family: 'Poppins-Semibold';
    font-size: medium;
    
}
.carousel-caption a{
    color:white;
    font-family: 'Poppins-Light';
    font-size: medium;
    
}
.carousel-caption a:hover{
    color:black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    
    
}
.certification-title h3 {
    font-family: 'Poppins-Semibold';
    color: white;
    text-align: center;
    background-color: var(--dark-orange);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(250, 247, 247, 0.1);

}
.certifications{
    width: 70%;
    height: 70%;
    margin: auto;
    border-radius: 10px;
}
@media screen and (max-width:810px){
   
    .carousel-caption{
       
     
       margin-bottom: 20px;
       display: inline-block;
       padding: 2px;
       line-height: 3px;
    }
    .carousel-caption h3{
     
        font-size: 5px;
        padding: 1px;
        margin: 0;
        
    }
    .carousel-caption a{
        
        font-size: 5px;
        padding: 0px;
        margin: 0;
        
    }
    .carousel-caption a:hover{
       
        padding: 1px;
        border-radius: 5px;
        
        
    }
    .certifications{
        width: 95%;
        height: 95%;
        margin: auto;
        border-radius: 10px;
    }

}