.project-container {
    width: 95%;
    margin: auto;
}
.project-container h3 {
    font-family: 'Poppins-Semibold';
    color: white;
    text-align: center;
    background-color: var(--dark-orange);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(250, 247, 247, 0.1);

}
.project-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgb(238, 222, 235);
    box-shadow: 0 10px 20px rgba(240, 117, 80, 0.6);
    overflow: hidden;

}
.showmore button{
    background-color: var(--dark-orange) !important;
    color: white;
    border-radius: 40px !important;
    border: none !important;
    width: 10% !important;
    padding: 0px !important;
    border: 1px black solid !important;

}
.showmore a{
    font-size: medium !important;
    background-color: rgb(210, 228, 222) !important;
    margin: 0 10px;padding: 5px !important;
    border-radius: 5px;
}
.showmore button:hover{
    background-color: rgb(15, 36, 131) !important;
    transform: scale(1.2) !important;
    transition: all 0.5s ease-in-out;
  

}
.engg h1{
    color: #000080;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    padding-top: 10px;
    font-size: x-large;
    text-align: center;
    background-color: bisque;padding: 5px;
}
.project h5{
    color: #19198e;
    font-size: medium;

}
@media screen and (max-width: 810px) {
    .project h5{
        font-size: x-small;
    
    }
    .engg h1{
        font-size: x-small;
    }
    .showmore button{
       
        border-radius: 5px !important;
        width: 25% !important;
        font-size:xx-small !important;
        margin: 0 !important;
    
    }
    .showmore p{
        font-size: x-small !important;
    }
    .showmore a{
        font-size: x-small !important;
        margin: 0 15px;padding: 5px !important;
    }
    

    
    



}


